@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Search Bar -->
<div class="search-bar">
    <img img class="search-icon icon-sm" src="~/images/search_icon.png" />
    <input class="search-text font-sm" type="text" placeholder="Search" />
</div>
